/* Clases reutilizables */
body {
  font-family: 'Lato', sans-serif;
  background-color: #DBF2F2;
}

header nav {
  background-color: #67F2F1!important;
}

/* Clases específicas */
header nav a {
  color: #767C7A!important;
  font-weight: bold;
  font-size: 20px;
}

header nav a:hover {
  color: #8F9794!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #8F9794!important;
}

header input {
  font-weight: bold;
  font-size: 20px;
}

h1 {
  letter-spacing: 2px;
  font-size: 50px;
}